# Ignore build output folders and files
bin/
obj/
*.dll
*.exe
*.pdb
*.cache

# Ignore VSCode specific settings
.vscode/

# Ignore Visual Studio specific files
*.user
*.suo
*.csproj.user

# Ignore NuGet packages
*.nupkg
packages/
project.lock.json
project.fragment.lock.json

# Ignore build folders
Build/
Builds/

# Ignore logs, lock files, and temp files
*.log
*.lock
*.tmp

# Ignore user-specific files (e.g., your local settings)
*.userosscache
*.sln.docstates

# Ignore test result and code coverage files
TestResult/
*.coverage
*.coveragexml
